<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin.html}">

<head>
	<title>Customer Management</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Customer Management</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
							<h1>Customer List</h1>
							<div class="panel-heading">
								<a href="Customer/Create" class="btn btn-primary">Add new customer</a>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Id</th>
										
										<th>Customer Name</th>
										<th>Address</th>
										<th>Email</th>
										<th>Tellno</th>
										<th>Status</th>
										<th ></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item : ${listCustomer}">
										<td th:text="${item.id}"></td>
										
										<td th:text="${item.name}"></td>
										<td th:text="${item.address}"></td>
										<td th:text="${item.email}"></td>
										<td th:text="${item.tellno}"></td>
										<td th:text="${item.status} ? 'Active' : 'Disable'"></td>
										<td>
											<a th:href="@{'Customer/Edit/' + ${item.id}}" class="btn btn-default form-group">Edit</a>
											<a th:if="${item.status}" th:href="@{'Customer/Disable/' + ${item.id}}" class="btn btn-default form-group">Disable</a>
											<a th:if="!${item.status}" th:href="@{'Customer/Enable/' + ${item.id}}" class="btn btn-default form-group">Enable</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>